services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - frontend-build:/volume

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend:/app

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - frontend-build:/usr/share/nginx/html:ro
    depends_on:
      - frontend
      - backend

volumes:
  frontend-build: