version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    # Не нужен volume на продакшене — всё уже собрано

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    expose:
      - "8000"
    restart: unless-stopped
    # environment:
    #   - DEBUG=False

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"     # на хакатоне обычно без HTTPS
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend